<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="webUserName" placeholder="User name">
            <input type="text" name="userPassword" placeholder="Password">
            <button type="submit">Create user</button>
        </form>
    </div>
</body>
</html>